<!-- Using the block template from layout.html render the about page --> 

{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <body>
        <h5>Greetings, fellow fantasy football fanatics!</h5>

        <p>Welcome to my brand new blog, where we'll dive deep into the 
            world of fake football and get lost in a sea of spreadsheets,
             stats, and trash talk. But before we get started, let me 
             introduce myself and the ragtag group of misfits that I call my friends.</p>
        
        <p>First off, there's Dave. He's the type of guy who drafts all his players based on their zodiac signs and has 
            a shrine dedicated to Tom Brady in his basement.
                Then there's Sarah, who always seems to forget when the draft is and ends up with
                a team made up entirely of kickers and defenses. 
                And last but not least, there's Steve. He's convinced that he's a fantasy football genius, 
                but somehow always manages to finish dead last in the league.</p>
        
        <p> We have Rachel, who is convinced that her lucky jersey is the key to winning.
            Then there's Mike, who spends hours analyzing every possible matchup and strategy, 
            only to have his dog knock over his laptop and mess up all his plans.</p>

        <p>Next up is Liz, who always seems to have insider knowledge on the latest injuries and news, 
            but never manages to capitalize on it. And we can't forget about Jack,
             who always manages to make a last-minute lineup change that either wins him the game or sends him spiraling into defeat.</p>
             
        <p>We also have Kim, who's never played fantasy football before but insists on joining our league every year. 
            And last but certainly not least, there's Tim, who takes fantasy football so seriously
             that he's been known to throw a tantrum or two when things don't go his way.</p>  

        <p>As for me, well, let's just say that I once traded away Christian McCaffrey for a few pints
             and a high five. But hey, we're all here to have a good time....right? 
            So buckle up, grab a beer (or three), and get ready to join us on this wild ride through the ups and downs of fantasy football.
            So there you have it, folks. Our motley crew of fantasy football fanatics.
            We may not always make the best decisions, but we sure know how to have a good time. Let's kick off this season with a bang!
        </p>      
    </body>
{% endblock content %}






