<!-- Using the block template from layout.html render the register page --> 

{% extends "layout.html" %}
{% block content %}
    <div class = "content-section">
        <form method = "POST" action=""> <!--This will post the information back to the same route we are curently on --> 
            {{ form.hidden_tag() }} <!--hidden_tag is a CSRF(Cross Site Fogary Token) --> 
            <fieldset class="form-group">
                <legend class="border-bottom mb-3">RESET PASSWORD</legend>
                <!--field names are specified from the Rgistration Class in forms.py--> 
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }} <!--prints out password from password field --> 
                    {% if form.password.errors%} 
                    {{ form.password(class="form-control form-control-lg is-invalid") }} <!--for errors in username --> 
                    <div class = "invalid-feedback">
                        {% for error in form.password.errors %} 
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-control-label") }} <!--prints out confirm_password from confirm_password field --> 
                    {% if form.confirm_password.errors%} 
                    {{ form.confirm_password(class="form-control form-control-lg is-invalid") }} <!--for errors in username --> 
                    <div class = "invalid-feedback">
                        {% for error in form.confirm_password.errors %} 
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <!--Submit button using bootstrap--> 
            <div class="form-group">
                {{ form.submit(class = "btn btn-outline-info")}}
            </div>
        </form>
    </div>
{% endblock content %}