/* This code was adaped from https://github.com/CoreyMSchafer/code_snippets/blob/master/Python/Flask_Blog/snippets/main.css */
body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  /* Nav Headings Colour*/
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  /* Nav Banner Colour*/
  .bg-steel {
    background-color: #ec0c0c;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  /* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

.ab-body{
  color: green;
  font-weight: bold;
  
}

.ab-heading{
  color: rgb(15, 12, 207);
  background-color:lightgray;
}

.ab-para{
  background-color:lightgray
}
.sm-heading {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20em;
  background: #c2c6ca;
  color: rgb(15, 12, 207);

}
  
/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  background: #55ACEE;
  color: white;
}

/* instagram */
.fa-instagram {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  background: #010b13;
  color: white;
}

/* youtube */
.fa-youtube {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  background: #c2c6ca;
  color: rgb(189, 24, 24);
}

/* nfl */
.fa-nfl {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  background: #c2c6ca;
  color: rgb(189, 24, 24);
}

